<ng-container *ngIf="products$ | async as products">
  <p-table [value]="products.data"  [scrollable]="true" scrollHeight="600px"  [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>productId</th>
        <th>productName</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.productId }}</td>
        <td>{{ product.productName }}</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event,products.pagination.nexPageKey)" [first]="first" [rows]="rows" [totalRecords]="10000" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
</ng-container>
